.row {
  padding-inline: 2px;
  padding-block: 2px;

  display: flex;
  align-items: center;
}

.label-c {
  width: 30%;
  text-align: right;
  padding-inline: 3px;
}

.control-c {
  display: flex;
  width: 70%;
}

.label-b {
  width: 55%;
  text-align: right;
  padding-inline: 3px;
}

.control-b {
  display: flex;
  width: 45%;
}

.label-a {
  width: 35%;
  text-align: right;
  padding-inline: 3px;
}

.control-a {
  display: flex;
  width: 65%;
}

.control-value {
  width: 100%;
}

.control-value-with-unit {
  width: 75%;
}

.control-unit {
  align-self: center;
  padding-inline: 3px;
  width: 25%;
}

button {
  margin: 4px;
}

input, select {
  padding: 1px;
}
